

.card-header-home {
    height: 1rem;
}

.img-height-fixed {
    height: 36rem;
    width: auto;
}

/* news */
.card-news {
    height: 24rem;
}

.text-news, .text-lg {
    font-size: larger;
}
.img-news-article {
    object-fit: cover;
}
/*navbar */
.text-nav {
    font-weight: bold;
}
.nav-link.active {
    border-bottom: 0.25rem solid transparent;
    border-bottom-color: #fff;
}

/* text */
.text-left {
    text-align: left;
}
.text-bold {
    font-weight: bold;
}

/*carousel */
.carousel-item {
    height: 40rem;
}
.carousel-item img {
    width: 100%;
    height: 40rem;
    filter:brightness(50%);
    object-fit: cover;
    object-position: center center;
}
.carousel-caption p {
    font-size: large;
}
